# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AutumnSunset.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\AutumnSunset\.idea\.idea.AutumnSunset\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
